@page "/finish-survey"

@rendermode InteractiveServer
@using VxiSurvey.Models.Entitties
@using VxiSurvey.Services.QuestionsService

@inject IQuestionService _questionService
@inject NavigationManager _navManager


<div class="d-flex justify-content-center mt-5">
    <MudDataGrid Elevation="0" Items="@ComponentQuestions" Filterable="false" SortMode="@SortMode.None" Groupable="false">
        <ToolBarContent>
            <MudText Typo="Typo.h5">Survey Finised, Thank you.</MudText>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Text" Title="@string.Empty"/>
            <PropertyColumn Property="x => x.Rating" />
        </Columns>
    </MudDataGrid>
</div>
<div class="d-flex justify-content-center mt-5">
    <MudFab DisableElevation Color="Color.Primary"
             StartIcon="@Icons.Material.Filled.KeyboardReturn"
             Label="Go Back to Homepage"
             OnClick="ReturnToHome" />
 </div>

 @code {
    private List<Question> ComponentQuestions { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ComponentQuestions = _questionService.answeredSurveyQuestions;
    }

    void ReturnToHome()
    {
        _navManager.NavigateTo($"/VxiSurvey/department/{ComponentQuestions[0].DepartmentId}");
    }
}
